table {margin: auto;}
.wrapper > p:nth-child(3) {margin: 2rem}
.header.small h1 {padding-left: unset;}
header.header.small,
div.header.small {text-align: center;}
@media screen and (min-width: 900px) {div.splice.news > pre {font-size: 0.75rem;}}
